@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 14px;
    font-weight: 400;
}

.principal {
    background-image: url(imagens/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}


.secundario__botao {
    display: inline-block;
    margin-top: 1em;

}

.container__aviso {
    font-size: 11px;
    color: var(--cinza-secundario);
    text-align: center;
}

.container__titulo {
    font-size: 26px;

}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
    
}


.secundario {
    align-items: center;
    margin: 0 10em;
}

.container__descricao {
    padding: 2em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 40px;
    color: var(--branco-principal);
    margin-bottom: 6px;
}

.descricao__texto {
    color: var(--cinza-secundario);

}


.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 40px;
}

.dispositivos__lista {
    display: flex;
    margin: 4em 2em;
    justify-content: center;
    list-style-type: none ;
    font-size: 26px;
}

.rodape {
   text-align: center;

}

.rodape__logo {
    margin-bottom: 2.5em;
}


.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}

.lista__link {
    margin: 0 0.5em 2em 0.5em;
    
    
}

.link__ativos {
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 16px;
    font-weight: 400;
}

.rodape__texto {
    margin: 0.5em 5em 3em 5em;
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-secundario);
}